body {
    background-color: #000000;
    margin: auto;
}
 .video video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 1080px;
    height: 1920px;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
    transition: 1s opacity;
}
.content {
   position: relative;
    z-index: 1;
    color: rgb(252, 252, 252);
    text-align: center;
    margin-top: 12%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    opacity: 0.8;;
}
nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 20px;
}
.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;  
    justify-content: flex-end;     
    gap: 20px;           
    margin-top: 16px;
}
.nav-menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}
.nav-menu li a:hover {
    background-color: #313131bd;
    border-radius: 5px;
    opacity: 0.9;
}
#logo {
    position: absolute;
    top: 8px;
    left: 20px;
    height: 40px;
}
.box1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    padding: 5px;
    margin: 10px 0 0 0;;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.insideBox {
    width: 40%;
    bottom: 62%;
    left: 55%;
    position: absolute;
    justify-content: end;   
    color: white;
    font-size: 32px;
}
.background-photo {
    margin: 10px 0 0 0;
    background-image: url("Porsche\ 911\ Carrera\ T\ parked\ in\ a\ courtyard.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
.triangle {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-left: 30px;
    color: white;
    text-align: left;
     white-space: pre;
}
.box2 {
    display: block;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    padding: 5px;
    margin: 50% 0 0 0;;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.836);
}
.insideBox2 {
    margin: 2% 0 0 1%;
    display: block;
    position: absolute;
    color: white;
    font-size: 30px;
    transform: translate(2%, 10%);
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    height: 40%;
    background-color: rgba(36, 36, 36, 0.836);
    box-shadow: white 0px 0px 6px inset;
}
.insideBox3 {
    display: block;
    margin: 2% 50% auto;
    position: absolute;
    color: white;
    font-size: 30px;
    transform: translate(2%, 10%);
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    height: 40%;
    background-color: rgba(36, 36, 36, 0.836);
    box-shadow: white 0px 0px 6px inset;
}

p {
    font-size: 30px;
}
#textI {
    text-align: left;
    margin: 20px;
    padding: 5px;
    font-family: Montserrat  sans-serif;
    color: white;
}
.list {
    font-size: 30px;
    list-style: none;
    background-color: rgba(36, 36, 36, 0.836);
    border-radius: 30px;
    width: 94.5%;
    box-shadow: white 0px 0px 6px inset;
    text-align: left;
    margin: 30%  1% 0 38px;
    padding: 10px;
    font-family: Montserrat  sans-serif;
    color: white;
}
.Contact {
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 50px;
    height: 150px;
}
.btn {
  display: inline-block;
  padding: 12px 25px;
  box-shadow: inset 0 0 5px white;
  background: rgba(36, 36, 36, 0.836);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
  transition: 0.3s;
}

.btn:hover {
  background: #444;
}
.boxS {
    
    display: flex;
    flex-direction: column  ;
    position: absolute;
    justify-content: center;
    align-items: center;
    box-shadow: inset  0 0 300px 200px rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 10px 0 0 0;
    font-family: Montserrat  sans-serif;
    color: rgba(255, 255, 255, 1    );

}
.insideS {
    font-size: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 150px;
    position: relative;
    justify-content: center;   
    color: white;
}
.background-photo2 {
    margin: 10px 0 0 0;
    background-image: url("Porsche-964-detailing-2.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.boxSS {
    display: block;
    position: absolute;
    background-color: rgb(29, 29, 29);
    border-radius: 30px;
    width: 80%;
    padding: 20px;
    transform: translate(0, 10% );
    height: 90%;
    margin: 100% 0 0 0;
    font-family: Montserrat  sans-serif;
    color: rgb(255, 255, 255);

}
.photo1 {
    background-image: url(Porsche\ 911\ Carrera\ T\ parked\ in\ a\ courtyard.jpg );
    height: 100%;
    background-size:   cover;
    position: relative;
    margin: auto;
    left:  346px;
    border-radius: 30px;
    bottom: 81px;
    width: 55%;
}

